@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --theme-color: #1F3E97;
    --grey-text: #858585;
    --grey-bg: #F1F1F1;
    --error-red: #EA1C0F;
    --theme-opacity-color: #1f3d975b;
    --item-opacity-color: #d9e0f55b;

}

@layer components {

    .app-container {
        @apply container mx-auto px-4
    }

    .nav-link {
        @apply inline text-lg font-semibold
    }

    .button-header {
        @apply self-center h-fit px-4 py-1 border-[1.5px] rounded-[8px] font-semibold
    }

    .button-header:hover {
        @apply hover:bg-slate-200 text-white
    }

    .input-field {
        @apply block h-10 px-2 w-full outline-none border-none bg-[var(--grey-bg)] rounded
    }

    .button-fill {
        @apply w-full h-7 bg-[var(--theme-color)] rounded-[10px] text-white font-semibold
    }

    .button-outline {
        @apply w-full h-7 text-[var(--theme-color)] bg-white rounded-[10px] border border-[var(--theme-color)] font-semibold
    }

    .button-fill:hover {
        @apply bg-[var(--theme-opacity-color)]
    }

    .grid-item {
        @apply grid border rounded-lg justify-center p-5 *:mt-2
    }
    .grid-item:hover{
        @apply bg-[var(--item-opacity-color)]
    }
}

@layer utilities {

    .common-border {
        @apply border border-red-200 rounded
    }

    .grey-bg {
        @apply outline-none border-none bg-[var(--grey-bg)]
    }

    .footer-title {
        @apply text-[18px] font-semibold
    }

    .footer-title ul li {
        @apply text-base font-normal my-4 underline
    }
}